@font-face {
  font-family: 'DotMatrix';
  src: url('../public/fonts/dotmatri.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialNarrow';
  src: url('../public/fonts/comfortaa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #EEE82C; /* bleu */
  color: white;
  font-family: 'DotMatrix', sans-serif;
}



h1 {
  font-size: 2rem;
}



.buttons {
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  height: auto; 
  display: flex;
  align-items: flex-start; /* pushes text to the top */
  justify-content: center; /* center horizontally */
  text-align: center;
  z-index: 10;
  color: #102542;
  background-color: #EEE82C;
}

.header h1 {
  font-family: 'DotMatrix', monospace;
  letter-spacing: inherit;
  font-size: 4rem;
  align-self: flex-start; 
  margin-top: 0; 
  padding-top: 20px; /* espace en haut */
}

body {
  cursor: none;
}


.footer {
  position: fixed;
  width: 100%;
  text-align: center;
  height: 56px;
  z-index: 1;
}
