@font-face {
  font-family: 'DotMatrix';
  src: url('../public/fonts/dotmatri.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialNarrow';
  src: url('../public/fonts/comfortaa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #EEE82C; /* bleu */
  color: white;
  font-family: 'DotMatrix', sans-serif;
}

h1 {
  margin-bottom: 40px;
  font-size: 2rem;
}



.buttons {
  display: flex;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 0;
  color: #102542;
  background-color: #EEE82C; /* bleu */
}

.header h1 {
  font-family: 'DotMatrix', monospace;
  letter-spacing: inherit;
  font-size: 4rem;
}

.footer {
  position: fixed;
  bottom: 40px;
  width: 100%;
  text-align: center;
  height: 56px;
  z-index: 1;
}