.embla-musique__container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    gap: 120px; /* Increased gap to add more space between slides */
    
    padding: 0 120px; /* adds space before first and after last */
  }

  .embla-musique__slide {
    flex: 0 0 auto;
    width: 80%;
    height: 70%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
  }
  
  .embla-musique__slide img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .embla-musique__container:hover .embla-musique__slide:not(:hover) {
    opacity: 0.5;
  }


/* Slide info container styles */
.slide-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.1rem;
  align-items: center;
}

.slide-title {
  opacity: 0;
  color: #102542;
  font-size: 1.1rem;
  margin: 0;
  align-self: flex-start;
}

.slide-year {
  opacity: 0;
  color: #102542;
  font-size: 1rem;
  margin: 0;
  align-self: flex-end;
}

.embla-musique__slide:hover .slide-title,
.embla-musique__slide:hover .slide-year {
  opacity: 1;
}