.embla-musique__container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    gap: 120px; /* Increased gap to add more space between slides */
    padding: 0 120px; /* adds space before first and after last */
  }

  .carousel-info-musique {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    color: #102542; /* or any visible color */
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    z-index: 10;
  }

  .embla-musique__slide {
    flex: 0 0 auto;
    width: 40%;
    height: 200px;
    max-width: 600px;
    min-width: 0px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease, width 0.5s ease, height 0.5s ease;
  }
  
  .embla-musique__slide img {
    width: 100%;
    object-fit: contain;
    border-radius: 16px;
  }

  .embla-musique__container:hover .embla-musique__slide:not(:hover) {
    opacity: 0.5;
  }


/* Slide info container styles */
.slide-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.1rem;
  align-items: center;
}

.slide-title {
  opacity: 0;
  color: #102542;
  font-size: 1.1rem;
  margin: 0;
  align-self: flex-start;
}

.slide-year {
  opacity: 0;
  color: #102542;
  font-size: 1rem;
  margin: 0;
  align-self: flex-end;
}

.embla-musique__slide:hover .slide-title,
.embla-musique__slide:hover .slide-year {
  opacity: 1;
}

@media (max-width: 768px) {
  .embla-musique__slide {
    height: 15px;
    aspect-ratio: 1 / 1;
  }

  .embla-musique__container:hover .embla-musique__slide:not(:hover) {
    opacity: 1;
  }

  .embla-musique__slide:hover .slide-title,
  .embla-musique__slide:hover .slide-year {
    opacity: 0;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .embla-musique__slide {
    height: 50px;
    aspect-ratio: 1 / 1;
  }
}
