.footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
  
  .toggle-container {
  display: inline-flex;
  position: relative;
  width: 450px; /* 3 options × 150px (148 + 2) = 450px — ajustez si besoin */
  height: 44px;
  background: #102542;
  border-radius: 25px;
  cursor: pointer;
  
}

.toggle-thumb {
  position: absolute;
  top: 2px;
  width: 148px;
  height: 40px;
  background: #adc116;
  border-radius: 25px;
  transition: left 0.3s;
}

.toggle-option {
  flex: 1;
  text-align: center;
  line-height: 43px;
  z-index: 1;
  user-select: none;
  color: rgb(255, 255, 255);
  font-family: 'ArialNarrow', monospace;
  letter-spacing: inherit;
  font-size: 1.2rem;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.toggle-option.active {
  color: white;
}

