.footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
  
  .toggle-container {
    display: inline-flex;
    position: relative;
    width: 300px;
    height: 44px;
    background: #102542;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .toggle-thumb {
    position: absolute;
    top: 2px;
    width: 148px;
    height: 40px;
    background: #6F7C12;
    border-radius: 25px;
    transition: left 0.3s;
  }
  
  .toggle-option {
    flex: 1;
    text-align: center;
    line-height: 43px;
    z-index: 1;
    user-select: none;
    color: rgb(255, 255, 255);
    font-family: 'ArialNarrow', monospace;
    letter-spacing: inherit;
    font-size: 1.2rem;
  }
  
  .toggle-option.active {
    color: white;
  }